<!DOCTYPE html>
<html lang="en">

<head>
	

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jordan Michael Bluhm</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <!-- <link href="assets/fonts/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle-2" href="#top" class="btn btn-dark btn-lg toggle"><i class="fa fa-arrow-up"></i></a>
	<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >Jordan Bluhm</a>
            </li>
            <li>
                <a href="#top" onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="#about" onclick = $("#menu-close").click(); >My Mission</a>
            </li>
            <li>
                <a href="#services" onclick = $("#menu-close").click(); >About Me</a>
            </li>
            <li>
                <a href="#portfolio" onclick = $("#menu-close").click(); >Portfolio</a>
            </li>
            <li>
                <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
            </li>
        </ul>
    </nav>
    
	
	
	

    <!-- Header -->
    <section id="top" class="header header-scroll" data-type="background"; data-speed="3";  >
       
		    <div class="text-vertical-center title-color par-text">
            <h1>Hello, I'm Jordan.</h1>
            <h3 class="title-color">Come on, get to know me!</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Let's start with the basics.</a>
        </div>
		
    </section>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>I'm a fan of Albert Einstein.</h2>
                    <p class="lead">I believe hard work, relentless feedback, and a strong team create great results every time.  The best products begin with a customer in mind, so I strive to be empathetic in everything I create. Learning new things brings me incredible joy; as I gain new skills I apply them toward designing creative solutions to complex problems. Click around and get to know me. If you have a problem I may be able to help solve, please reach out; helping people is my favorite thing to do.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services services-color bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>About Me</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
								<!-- <a href="#education" class="fa fa-circle fa-stack-2x"> -->
                                	<i class="fa fa-circle fa-stack-2x"></i>
								<!-- </a> -->
                                <i class="fa fa-graduation-cap fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Education</strong>
                                </h4>
                                <p>B.S. in Mechanical Engineering <br>Kansas State University<br>December 2013</p>
								<!-- <%= link_to "Learn More", welcome_education_path(), class: "btn btn-light"%> -->
                                <a href="#education" class="btn btn-light btn-pad">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-pencil fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Professional Experience</strong>
                                </h4>
                                <p>Business Analyst<br>QA Lead<br>Service Specialist</p>
                                <a href="#experience" class="btn btn-light btn-pad">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-laptop fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Skills and Software</strong>
                                </h4>
                                <p>Design<br>Development<br>Engineering</p>
                                <a href="#skills" class="btn btn-light btn-pad">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-thumbs-o-up fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Interests</strong>
                                </h4>
                                <p>Getting Outdoors<br>Learning to Code<br>Making Things</p>
                                <a href="#interests" class="btn btn-light btn-pad">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

   
<!-- this is the education section -->

	
	
	
    <section id="education" class="education education-scroll" data-type="background2"; data-speed="1.5";  >
       
		    <div class="container text-center text-vertical-center title-color">
            	<h1 class='callout-title'>EDUCATION</h1>
        	</div>
		
    </section>
	
	
	<section id="education-text" class="about">
        	<div class="container">
           	 <div class="row">
              	  <div class="col-lg-12 text-center">
                  	  <h2>Am I a mechanical engineer?</h2>
                  	  <p class="lead">This is a paragraph about my education!This is a paragraph about my education!This is a paragraph about my education!This is a paragraph about my education!This is a paragraph about my education!This is a paragraph about my education!This is a paragraph about my education!This is a paragraph about my education!This is a paragraph about my education!This is a paragraph about my education!This is a paragraph about my education!This is a paragraph about my education!</p>
              	  </div>
           	 </div>

            <!-- /.row -->
       	 </div>
        <!-- /.container -->
    </section>
	<!-- this is the experience section -->
		
	    <section id="experience" class="experience experience-scroll" data-type="background3"; data-speed="1.2";>
       
			    <div class="container text-center text-vertical-center title-color ">
	            	<h1 class='callout-title'>PROFESSIONAL EXPERIENCE</h1>
	        	</div>
		
	    </section>
	
	
		<section id="experience-text" class="about">
	        	<div class="container">
	           	 <div class="row">
	              	  <div class="col-lg-12 text-center">
	                  	  <h2>A WORK HISTORY LESSON:</h2>
	                  	  <p class="lead">My professional experience started early. At the tender age of 14 I began working for my family's construction company each summer, and spending weekends helping take care of our small farm. I learned a lot of great things over the next 5 years, like driving tractors & skid loaders, using tools of all sizes and kinds, and most importantly, working hard until a job is done well! Another thing I learned is that I wanted to grow and work somewhere with air conditioning. Since graduating I have focussed my efforts on the technology space. It didn't take long working at an Apple Genius Bar to realize that I really care about customers. Spending an abundance of time with customers taught me the importance of sincerity, empathy, and confidence; I will take those lessons with me wherever I go. Seeking an adventure, I packed up my things and moved to Venice, CA to work at Sidebench Studios. Sidebench makes custom technology products, and we're great at it. Working at a development firm that believes in agile methodologies has been a constant adventure of lessons. I admit, sometimes I am met with intimidating responsibilities, but that's my favorite way to work! Keep reading to see what some of those responsibilities and lessons have been! </p>
	              	  </div>
	           	 </div>
				 <div class="row">
					 <div class="col-lg-8 col-lg-offset-2">
						 <h4 class="skill-title text-center lead-list lead-title">2015 - Sidebench Studios - Los Angeles, CA</h4>
						 <h4 class="skill-title text-center lead-list">Business Analyst</h4>
						 <ul class="fa-ul list-group">	
							<li class="lead lead-list"><i class="fa-li fa fa-code"></i>Develop and administer Salesforce and Filemaker inventory management systems</li>
							<li class="lead lead-list"><i class="fa-li fa fa-code"></i>Serve as primary point of contact for external developers during feature development</li>
							<li class="lead lead-list"><i class="fa-li fa fa-code"></i>Design and implement bug tracking and categorization system for agile framework</li>
							<li class="lead lead-list"><i class="fa-li fa fa-code"></i>Program project management and budget tracking suites for Google Apps using JS</li>
							<li class="lead lead-list"><i class="fa-li fa fa-code"></i>Create and publish software training manuals and videos</li>
							<li class="lead lead-list"><i class="fa-li fa fa-code"></i>Develop and execute QA test scripts and automated tests with Selenium WebDriver</li>
							<li class="lead lead-list" style="padding-bottom:40px;"><i class="fa-li fa fa-code"></i>Design web mockups using Adobe Photoshop and Illustrator</li>
						</ul>
						
						
						 <h4 class="skill-title text-center lead-list lead-title">2014 - Apple Inc. - Boulder, CO</h4>
						 <h4 class="skill-title text-center lead-list">Service Specialist</h4>
						<ul class="col-md-12 fa-ul">	
							<li class="lead lead-list"><i class="fa-li fa fa-code"></i>Acquired and maintained certifications necessary to troubleshoot and repair electronic assemblies and software</li>
							<li class="lead lead-list"><i class="fa-li fa fa-code"></i>Researched and reported unauthorized mechanical tampering</li>
							<li class="lead lead-list"><i class="fa-li fa fa-code"></i>Coordinated daily schedule for sales staff (approximately 60 employees)</li>
							<li class="lead lead-list" style="padding-bottom:40px;"><i class="fa-li fa fa-code"></i>Instructed clients in technical workshops for groups of 2-10</li>
							
						</ul>
						
						 <h4 class="skill-title text-center lead-list lead-title">2013 - Apple Inc. - Manhattan, KS</h4>
						 <h4 class="skill-title text-center lead-list">K-State Campus Representative</h4>
						<ul class="col-md-12 fa-ul">	
							<li class="lead lead-list"><i class="fa-li fa fa-code"></i>Trained students and faculty on implementation of Apple hardware and software</li>
							<li class="lead lead-list"><i class="fa-li fa fa-code"></i>Guided students through selection and purchase of Apple products and services</li>
							<li class="lead lead-list" style="padding-bottom:40px;"><i class="fa-li fa fa-code"></i>Aided in transitioning K-State College of Education to a one iPad per student platform</li>
							
						</ul>
						 
					</div>
					 
				 </div>

	            <!-- /.row -->
	       	 </div>
	        <!-- /.container -->
	    </section>
		<!-- skills photo -->	
	    <section id="skills" class="skills skills-scroll" data-type="background4"; data-speed="1.2";  >
       
			    <div class="container text-center text-vertical-center title-color ">
	            	<h1 class='callout-title'>SKILLS AND SOFTWARE</h1>
	        	</div>
		
	    </section>
		
		
		<!-- skills text -->
			<section id="skills-text" class="about">
		        <div class="container">
		            <div class="row">
		                <div class="col-lg-12 text-center">
		                    <h2>I have skills!</h2>
		                    <p class="lead">Some of the things I know I learned from college and work experience, others I picked up on my own. Below are a few highlights.</p>
							<div class="col-md-8">
								<h4 class="skill-title">OS, Applications, and Languages<br></h4>
								<div class="col-md-6">			
									<p class="lead">Mac OS X<br>Linux (UBUNTU and Kali)<br>Microsoft Windows<br>Filemaker Pro<br>Selenium WebDriver<br>Ruby on Rails<br>Labview (with DAQ)<br>Microsoft Excel (with VBA)	
									</p>
								</div>
					
								<div class="col-md-6">
								<p class="lead">Salesforce Administration<br>Google Apps (with Scripts)<br>Solidworks<br>Adobe Photoshop<br>Adobe Illustrator<br>Adobe After Effects<br>FinalCut Pro X<br>Logic Pro X</p>
								</div>
							</div>
							<div class="col-md-4">
								<h4 class="skill-title">Core Competencies<br></h4>
								<p class="lead">Agile/SCRUM Development<br>Software/Web QA Principles<br>Sales & Customer Service<br>Training & Presenting<br>UI/UX Design<br>Finite Element Analysis<br>Carbon Composite Design<br>Thermodynamics</p>
							</div>
							
		                </div>
		            </div>
		            <!-- /.row -->
		        </div>
		        <!-- /.container -->
		    </section><!-- end skills section -->
	
	
	
    <section id="interests" class=" interests interests-scroll" data-type="background5"; data-speed="1.2";>
   	 	
		    <div class="container text-center text-vertical-center title-color ">
            	<h1 class='callout-title'>INTERESTS</h1>
        	</div>
		
    </section>
	
	
	
	
	
   
        <div class="container" id="interests-text">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Things I like...</h2>
                    <p class="lead">I enjoy spending my time a lot of different ways. Take a look at some of my interests, and feel free to ask me about any of them. Most of my hobbies are also great with a friend; maybe we can meet up and share some interests!</p>
					<div class="col-md-4">			
							<p class="lead">Camping & hiking<br>Playing guitar<br>Flying stunt kites<br>River fishing<br>Woodworking</p>	
					</div>
					<div class="col-md-4">
						<p class="lead">Learning to code<br>Seeing new places<br>Kansas BBQ<br>Roadtrips<br>Occasional rainy days</p>
					</div>
					<div class="col-md-4">
						<p class="lead">"How it's Made"<br>Classic motorcycles<br>White V-Neck Shirts<br>Tennis<br>Back to the Future</p>
					</div>
					
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- Portfolio -->
    <!-- ><section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Our Work</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src='https://s3-us-west-2.amazonaws.com/resume1989/images/portfolio-1.jpg'>
									
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src='https://s3-us-west-2.amazonaws.com/resume1989/images/portfolio-2.jpg'>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src='https://s3-us-west-2.amazonaws.com/resume1989/images/portfolio-3.jpg'>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src='https://s3-us-west-2.amazonaws.com/resume1989/images/portfolio-4.jpg'>
                                </a>
                            </div>
                        </div>
                    </div>
                    /.row (nested)
                   
                </div>
              
            </div>
            
        </div>
      
    </section>
-->
    <!-- Call to Action -->
    <aside class="call-to-action bg-primary services-color">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Don't be afraid to click these buttons. Great things may happen if you do!</h3>
					<%= link_to "Reach Out!", new_contact_path(),  class: "btn btn-lg btn-light"%>
                    <!-- <a href="new_contacts_path" class="btn btn-lg btn-light">Click Me!</a> -->
                    <a href="#top" class="btn btn-lg btn-dark">Back to the top!</a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Map -->
<div class='embed-container maps'>
    <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.952359215655!2d-118.48094244906213!3d33.99375742816191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bacecb15cae5%3A0x7f7af81ff8766659!2s15+Paloma+Ave%2C+Venice%2C+CA+90291!5e0!3m2!1sen!2sus!4v1445639012290"></iframe>
        <br />
        <small>
            <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.952359215655!2d-118.48094244906213!3d33.99375742816191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bacecb15cae5%3A0x7f7af81ff8766659!2s15+Paloma+Ave%2C+Venice%2C+CA+90291!5e0!3m2!1sen!2sus!4v1445639012290"></a>
        </small>
        </iframe>
    </section>
</div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Jordan Bluhm</strong>
                    </h4>
                    <p>Mailing Address<br>19300 W. 64th terr.<br>Shawnee, KS 66218</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> 913.707.4395</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:jmbluhm@gmail.com">jmbluhm@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="http://www.linkedin.com/in/jordanmbluhm"><i class="fa fa-linkedin fa-fw fa-3x logos-color"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/jordan.bluhm.12"><i class="fa fa-facebook fa-fw fa-3x logos-color"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/jmbluhm"><i class="fa fa-twitter fa-fw fa-3x logos-color"></i></a>
                        </li>
                        
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Seaton 63 Design Co. llc.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
